
@import 'font';
$yellow : #F3CF3F;
$red : #E30E1F;
html, body {

  height: 100%;
  width: 100%;
  }



	body {
	.navbar-default {
  		background-color : white;
  		border-color: rgba(34, 34, 34, 0.05);
  		font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	    -webkit-transition: all 1s;
	    -moz-transition: all 1s;
	   	transition: all 1s;
	   	
	   	.nav {
	   		li {
	   			a:hover {
	   				color: #4F2213;
	   			}
	   			a:focus {
	   				color: #4F2213;
	   			}
	   		}
	   	}
	
		.navbar-header {
			.navbar-brand {
  color: #4F2213;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
			}
			
		}
	}
	header {
  		position: relative;
  		width: 100%;
  		min-height: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
  		background-position: center;
  		background-image: url('../images/index_banner.jpg');
  		text-align: center;
  		color: white;
  		.header-content {
  			position: relative;
  			text-align: center;
  			padding: 200px;
  			width: 100%;
  			.header-content-inner{
  				font-weight: 700;
  				text-transform: uppercase;
  				margin-top: 0;
 				margin-bottom: 0;
 				font-size: 30px;
 				#homeHeading {
 					font-size: 2em;
 				}
 				h1 {
 					  font-weight: 700;
					  text-transform: uppercase;
					  margin-top: 0;
					  margin-bottom: 0;
					  font-size: 30px;
 				}
 				hr {
 					margin: 30px auto;
 					
  					
  					max-width: 300px;
 				}
 				p {
 					font-weight: 300;
					color: rgba(255, 255, 255, 0.8);
					font-size: 16px;
					margin-bottom: 50px;
					 font-size: 16px;
					 line-height: 1.5;
					 margin-bottom: 20px;
 				}
 				
 				.btn-primary {
   					background: #0099cc;
    				color: #ffffff;
					
 				}

  			}
		}
	}
.section1 {
	width: 100%;
	.section1inner {
		overflow: hidden;
	
		.s1words {
			width: 45%;
			float: left;
			padding: 70px;
			h1 {
				font-family: "Pacifico";
				}
			p {
				font-size: 1.5em;
				font-weight: 300;
			}
		}
		.s1image { 
			width: 55%;
			
			float: right;
		}
	}
}
.section2 {
	.section2-content {
		overflow: hidden;
		text-align: center;
		padding: 70px 0px 70px 0px;
		background-color: #3498DB;
		.circle {
			
   	 	  width: 300px;
   	 	  height: 300px;
     	 -webkit-border-radius: 25px;
    	  -moz-border-radius: 25px;
    	  border-radius: 150px;
    	  float: left;
    	  margin: 70px 0px 40px 110px;


    
		}
		.circle1
		{
			background-image: url('../images/timeline.png');
		}
		.circle2 {
			background-image: url('../images/multiAddresses.png');

		}
		.circle3 {
			background-image: url('../images/coffSchedule.png');
		}
		h3 {
			float: left;
		}

	}
}
.section3 {
	width: 100%;
	.section3inner {
		overflow: hidden;
	
		.s3words {
			width: 45%;
			float: right;
			padding: 70px;
			h1 {
				font-family: "Pacifico";
				}
			p {
				font-size: 1.5em;
				font-weight: 300;
			}
		}
		.s3image { 
			width: 55%;
			
			float: left;
		}
	}
}
	
	.section4 {
		text-align: center;
		padding: 20px;
		.container {
			display: flex;
			flex-direction: row;
			justify-content: center;
			items-align: center;
			height: 440px;
			text-align: center;
		}

		.s4img {

			margin: 20px 50px 0px 50px;
			width: 300px;
			text-align: center;
			cursor:pointer;
			
		}

	}
	.section5 {
		text-align: center;
		background-color: #3498DB;
		.container {

		
		display: flex;
		flex-direction: row;
		items-align: center;
		justify-content: center;
		height: 500px;
		text-align: center;
		.s5box {
			width: 50%;
			text-align: center;
			margin: 30px;
			background-color: #3498DB;
			}
		}
	}
	.done {
		width: 100%;
		height: 100px;
		background-color: #34495E;
		.copyright {
			color: white;
			font-size: 2em;
			float: left;
			margin: 30px 30px 30px 100px;

		}
		.group {
			color: white;
			font-size: 2em;
			float: right;
			margin: 30px 100px 30px 30px;
		}
	}
}
/*	.header {
		width: 100%;
		height: 120%;
		background-image: url(../images/index_banner.jpg);
		background-size: 100% 100%;
		position: absolute;
		#welcome {
			align: center;
			text-align: center;
			font-size: 2em; //Font chữ to gấp 2 lần
			#w_1{
				font-family: "Pacifico";
				color: $yellow;
				font-size: 2em; // 4 em
				margin-top: 120px;
				/*A làm típ nhé từ em, sao cái hình to qua, nãy a làm theo kiểu background color ma hinh no bi vay ak nó bị mất khúc dưới rồi oh chờ e*/
		/*	}
		/*	#w_2{
				margin-top: -60px;
				font-family: "Pacifico";
				color: white;
				font-size: 1.5em;
			}
			#w_3{
				font-size: 3em;
				font-family: "Raleway";
				color: $red;
				margin-top: -60px;
			}
			#w_4{
				font-size: 1em;
				font-family: "Pacifico";
				color: white;
				margin-top: -90px;
				&::before{
					content: '';
					width: 120px;
					height: 2px;
					background: white;
					position: absolute;
					margin-top: 30px;
					margin-left: -140px;
				}
				&::after{
					content: '';
					width: 120px;
					height: 2px;
					background: white;
					position: absolute;
					margin-top: 30px;
					margin-left: 20px;
				}
			}
		}
	}

*/	

	


